@import "../../styles/variables";

.bg-custom {
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    background-color: $primaryColor !important;
}

.btn-custom {
    background-color: $primaryColor !important;
    color: $textColorWhite !important;
}

.body-text {
    font-family: $fontMontserrat;
    font-size: 16px;
}

.progress-bar-text {
    font-family: $fontMontserrat;
    font-size: 10px;
    display:grid;
}

.subtitle-text{
    font-family: $fontMontserrat;
    font-size: 18px;
    color: $primaryColor;
}

.asterisk {
    color: $primaryColor;
    display: contents;
}

.file-uploader-container {
    height: 350px;
    border-color: $primaryColor !important;
    border-style: dashed !important;
    border-width: 1px;
    border-radius: 20px;
}

.image-uploaded-container {
    height: 200px;
    width: 300px;
    object-fit: contain;
}

.image-carousel-container {
    height: 300px;
    width: 350px;
    object-fit: contain;
}

.carousel-container {
    height: 300px !important;
}

.upload-file-text   {
    color: $primaryColor;
}

.border-input-text {
    width: 100%;
    border-width: 1px !important;
    border-color: $secondaryColor !important;
    
}   

.add-show-product {
    font-family: $fontkarla !important;
    font-size: 16px !important;
    color: $primaryColor;
    width: 100%;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: $primaryColor !important;
    height: 40px;
}

.circle-step {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    
}

.inactive-icon {
    border-color: $secondaryColor !important;
}

.active-icon {
    color: $primaryColor !important;
}

.border-progress-bar {
    border-style: solid;
    border-color: $primaryColor !important;
    background-color: #F2F2F2 !important;
}

.stepper-container {
    width: 5% !important;
}

.image-icon-svg {
    width: 24px;
    height: 24px;
    color: $secondaryColor;
}   

.progress-icon-svg {
    width: 22px;
    height: 20px;
}  

.circle-step {
    width: 35px;
    height: 35px;
}

.input-description {
    height: 90px;
}

.file-uploader-container{
    height: 194px;
}

.row-width {
    border-style: dashed;
    border-color: $secondaryColor;
}

.handle-buttons {
    width: 100%;
    font-family: $fontkarla !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.form-container {
    max-width: 100% !important;
}

.error-message-custom {
    font-size: 10px;
}

.carousel-indicators button {
    border: none;
    background-color: #968ebe !important;
}

.carousel-indicators .active {
    background-color: $primaryColor !important;
}

.carousel-control-next-icon {
    background-color: $primaryColor !important;
    border-radius: 5px;
}

.carousel-control-prev-icon { 
    background-color: $primaryColor !important;
    border-radius: 5px;
}

.close-icon-custom {
    color: $primaryColor;
}

.back-button-custom {
    background-color: white;
    border: none;
    border-bottom: solid 1px $primaryColor;
    border-radius: 0px;
    color: $primaryColor;
}

@media (min-width: 768px) {
    .file-uploader-container {
        height: 300px;
    }
    // .image-uploaded-container{
    //     height: 300px;
    // }
    .formfile-uploader-container {
        width: 60%;
    }
    .handle-buttons {
        width: 130px;
        height: 40px;
    }
    .subtitle-text {
        font-size: 28px;
    }
    .carousel-container {
        height: 200px;
    }
    .add-show-product {
        width: 200px;
    }
    .back-button-custom {
        width: 200px;
        border-radius: 2px;
    }
}
@media (min-width: 992px) {
    .progress-bar-text {
        margin-top: 10px;
    }
    .file-uploader-container {
        height: 350px;
    }
    // .image-uploaded-container{
    //     height: 350px;
    // }
    .formfile-uploader-container {
        width: 100%;
    }
 }

