@import "../../styles/variables";

.content-craftsman-container {
    background-color: $secondaryColor;
}

.card-craftsman-container {
    background-color: white;
}

.website-name-label {
    color: $primaryColor;
    font-family: $fontMontserrat;
    font-weight: 500;
    font-size: 28px;
}

.website-profilePic {
    width: 140px;
    height: 134px;
    border-color: $primaryColor;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.text-warning {
    color: yellow;
}