@import "../../styles/variables";

.register-container {
  .title-login {
    font-family: $fontMontserrat;
    font-weight: bold;
    &.title-colorSecondary {
      color: $secondaryColor;
    }
  }
  .description {
    &.description-colorSecondary {
      color: $secondaryColor;
    }
  }
  .custom-control-input {
    input[type="radio"]:checked {
      background-color: $primaryColor;
      border-color: $primaryColor;
    }
  }
  .form-container .form-container__input {
    border: 1px solid $secondaryColor;
    border-radius: 30px;
  }
  .text_primary {
    color: $primaryColor;
  }
}
