@import "../../styles/variables";

.bg-custom {
    background-color: $primaryColor !important;
}

.btn-custom {
    background-color: $primaryColor !important;
    color: $textColorWhite !important;
}

.body-text {
    font-family: $fontMontserrat;
    font-size: 16px;
}

.progress-bar-text {
    font-family: $fontMontserrat;
    font-size: 10px;
    display:ruby-base;
}

.subtitle-text{
    font-family: $fontMontserrat;
    font-size: 28px;
    color: $primaryColor;
}

.asterisk {
    color: $primaryColor;
}

.file-uploader-container {
    height: 350px;
    border-color: $primaryColor !important;
    border-style: dashed !important;
    border-width: 1px;
    border-radius: 20px;
}

.upload-file-text   {
    color: $primaryColor;
}

.border-input-text {
    border-width: 2px;
    border-color: $secondaryColor !important;
}   

.add-product {
    width: 100%;
    border-width: 2px;
    border-color: $primaryColor !important;
}

.circle-step {
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: $primaryColor !important;
}

.border-progress-bar {
    border-style: solid;
    border-color: $primaryColor !important;
    background-color: #F2F2F2 !important;
}

 @media (max-width: 767px) { 
    .image-icon-svg {
        width: 25px;
        height: 25px;
    }   
    
    .progress-icon-svg {
        width: 22px;
        height: 20px;
    }  

    .circle-step {
        width: 35px;
        height: 35px;
    }

    .input-description {
        height: 90px;
    }

    .file-uploader-container{
        height: 194px;
    }

    .input-description {
        height: 90px;
    }

    .back-button {
        color: $primaryColor;
        width: 100%;
        border-width: 2px;
        border-color: $primaryColor !important;
    }
    
    .next-button {
        width: 100%;
    }
 }
