@import "../../../styles/variables";

.template__container {
    .input__primary {
        border: 1px solid $secondaryColor;
        border-radius: 30px;
    }
    .colors__container {
        .prymaricolor1{
            background-color:#3D0C11 ;
            height: 5rem;
        }
        .secondarycolor1{
            background-color:#D80032 ;
            height: 5rem;
        }
        .thirdcolor1{
            background-color:#F78CA2 ;
            height: 5rem;
        }
        .prymaricolor2{
            background-color:#331D2C;
            height: 5rem;
        }
        .secondarycolor2{
            background-color:#3F2E3E;
            height: 5rem;
        }
        .thirdcolor2{
            background-color:#A78295;
            height: 5rem;
        }
        .prymaricolor3{
            background-color:#6C3428;
            height: 5rem;
        }
        .secondarycolor3{
            background-color:#BA704F;
            height: 5rem;
        }
        .thirdcolor3{
            background-color:#DFA878;
            height: 5rem;
        }
        .link_up{
            color: #2196F3;
            text-decoration:underline;
        }
    }
}