@import "../../../../styles/variables";

.infoTemplate__container {
    .form__container {
        .input__primary {
            border: 1px solid $secondaryColor;
            border-radius: 30px;
        }
        .text_f {
            font-size: 12px;
        }
        .alert {
            color: #E91E63 !important;
        }
        
        .alert::before {
            content: "⚠ " !important;
        }   
        
        .section__image {
            height: 350px;
            object-fit: contain;
        }
    }
}