@import url("./_variables.scss");
$textColorBlack: #000000;
$textColorWhite: #FFFFFF;

.card_about {
 height:30rem !important;
 min-height: fit-content !important;
}
.card_text {
  font-family: $fontkarla;
  font-size: 18px;  
}

.card_title {
  font-family: $fontMontserrat;
}

.card_artetopia1 {
  text-align: center;
  background-image: $gradientCard,
    url("../images/artetopia_1.png");
  background-size: cover;
}

.card_artetopia2 {
  text-align: center;
  background-image: $gradientCard,
    url("../images/artetopia_2.png");
  background-size: cover;
}

.card_artetopia3 {
  text-align: center;
  background-image: $gradientCard,
    url("../images/artetopia_3.png");
  background-size: cover;
}