$primaryColor: #e91e63;
$secondaryColor: #2b2e4a;
$textColorBlack: #000000;
$textColorWhite: #ffffff;
$gradientCard: linear-gradient(180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(44, 47, 75, 1) 55%,
    rgba(44, 47, 75, 1) 82%,
    $secondaryColor 100%);
$fontkarla: "Karla", sans-serif;

* {
  font-family: "Karla", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.heading_primary {
  color: $primaryColor;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.bg_secondary {
  background-color: $secondaryColor;
}

.button-primary {
  background-color: $primaryColor;
  color: $textColorWhite;
  border: 1px solid $primaryColor;
  padding: 8px 10px;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

#call-to-action {
  .max__width {
    max-width: 75%;
  }
}

// .input_primary {
//   border: 1px solid $secondaryColor !important;
//   max-width: 500px;
//   border-radius: 30px !important;
// }

.card_about {
 height:30rem !important;
 min-height: fit-content !important;
}
.card_text {
  font-family: $fontkarla;
  font-size: 18px;  
}

.card_title {
  font-family: "Montserrat", sans-serif;
}

.card_artetopia1 {
  text-align: center;
  background-image: $gradientCard,
    url("/images/artetopia_1.png");
  background-size: cover;
}

.card_artetopia2 {
  text-align: center;
  background-image: $gradientCard,
    url("/images/artetopia_2.png");
  background-size: cover;
}

.card_artetopia3 {
  text-align: center;
  background-image: $gradientCard,
    url("/images/artetopia_3.png");
  background-size: cover;
}