@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.input-size {
  width: 60px!important;
  margin-right: 10px;
}

.primary_input {
  border: 1px solid #2b2e4a!important;
  border-radius: 50px!important;
}

.font-dropdown {
  font-family: "Montserrat", sans-serif;
  font-size: 14px!important;
}

.img-size {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.categories-selected {
  height: 125px;
}