@import "../../styles/variables";

.main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primaryColor;
    width: 98%;
    border-radius: 10px;
}


// Tittle css
.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
    width: 90%;
}

#tittle-btn {
    font-size: 10px;
    background-color: $primaryColor;
    border: none;

}

.my_products {
    font-size: 16px;
    margin: 10px;
}

// Modal

.productImage__modal {
    height: 450px;
    object-fit: cover;
    background-color: $secondaryColor;
}

.modal-tittle {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    background-color: $secondaryColor;
    color: white;
}

.modal-btn {
    background-color: $secondaryColor;
}



.body {
    background-color: $secondaryColor;
    color: white;
}

.productButton {
    width: 95%;
    height: 40px;
    text-align: left;
    background-color: white;
    border: 2px solid $secondaryColor;
    color: $secondaryColor;
    border-radius: 23px;
    margin: 10px;
    font-family: $fontkarla;
    &:hover{
        border-color: $primaryColor;
        background-color: $secondaryColor;
    }
    &:focus {
        background-color: white;
        border: 2px solid $secondaryColor;
        box-shadow: none !important;
        color: $secondaryColor !important;
    }
}