@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* #root {
    font-family: 'Karla', sans-serif;
    padding: 0px;
    background-color: white;
} */
/* User and profile picture */
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.user_image {
  width: 94px;
  height: 92px;
  margin: 20px 10px 20px 10px;
}

.username_tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #e91e63;
}

/* Main card */
/* The whole card */
.carrousel-image {
  height: 100px;
  width: 100px;
  margin: 8px;
}

.section_product {
  background-color: #2b2e4a;
  width: 100%;
  padding: 10px;
  height: auto;
}

/* Title and paragraph of the blue card */
.paragraph {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.product_title {
  font-size: 24px;
  margin: 2px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.main-image {
  width: 100%;
  height: 243px;
  -o-object-fit: contain;
     object-fit: contain;
}

.price {
  font-size: 32px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
}

.comprar {
  width: 141px;
  height: 46px;
  border-radius: 4px;
  background-color: #e91e63;
  margin-bottom: 15px;
}

.flex-changes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* .carousel-flex {
    display: flex;
} */
/* Media querries, next is tablet */
@media only screen and (min-width: 768px) {
  /* Username */
  .username {
    justify-content: start;
  }
  .user_image {
    width: 133px;
    height: 133px;
    margin: 20px 80px 20px 30px;
  }
  .username_tittle {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  /* Main card, next is title and p */
  .section_product {
    background-color: #2b2e4a;
    width: 90%;
    padding: 10px;
    margin: 20px;
  }
  .card_flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paragraph {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .product_title {
    font-size: 36px;
    margin: 2px;
    font-family: "Montserrat", sans-serif;
  }
  /* Images (main and carrousel) */
  .main-image {
    width: 533px;
    height: 355px;
  }
  .carrousel-image {
    height: 154px;
    width: 168px;
    margin: 8px;
  }
  /* Call to action */
  .price {
    font-size: 40px;
    margin-top: 0px;
    padding-right: 40px;
  }
  .call-to-action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  .flex-changes {
    display: flex;
    flex-direction: row;
  }
  .carousel-flex {
    display: flex;
    flex-direction: column;
  }
  .product_title {
    text-align: left;
    margin: 15px;
  }
  .paragraph {
    text-align: left;
    margin: 15px;
    margin-bottom: 40px;
  }
  .main-image {
    width: 887px;
    height: 515px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .call-to-action {
    margin: 40px;
  }
  .card_flex {
    width: 1280px;
    height: 857px;
  }
  .carrousel-image {
    width: 217px;
    height: 209px;
  }
}/*# sourceMappingURL=styles.css.map */