@import "../../styles/variables";

.principal-text { 
    font-family: $fontMontserrat !important;
    font-size: 18px !important;
    color: $primaryColor !important;
}

.edit-icons {
    color: $primaryColor;
}