@import "../../styles/variables";

.guide-container {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-size: 18px;
}

.images-delivery-container {
    width: 76px;
    height: 76px;
}