/* font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
@import "../../styles/app.scss";

* {
    padding: 0px;
    margin: 0px;
}

.footer-divider {
    color: $primaryColor;
    margin-bottom: 105px;
}

.about-artetopia .artetopia {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.about-artetopia .logo-artetopia-footer {
    width: 75px;
    height: 50px;
}

.about-artetopia p {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #9F9F9F;
    margin-top: 47px;
}

.social-media-icons  {
    width: auto;
}

.sections-footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

.link-footer {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.contact-container {
    height: 81px;
    width: 243;
    background-color: #FDCCDD;  
    border-radius: 8px;
    margin-bottom: 47px;
}

.contact-container {
    padding-top: 16px;
    padding-left: 18px;
    border-radius: 8px;

}


.contact-section .email-container {
    height: 42px;
    width: 46px;
    background-color: $primaryColor;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-section .phone-container {
    height: 42px;
    width: 46px;
    background-color: $primaryColor;
    border-radius: 8px;
}

.phone-vector {
    position: relative;
    right: 3px;
    top: 3px;
}

.direct-info-contact {
    color: $primaryColor;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.more-info-button {
    background-color: #FDCCDD;
    border-radius: 4px;
    width: 143px;
    height: 68px;
}

.more-info-container .more-info-text {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-container {
    margin-top: 70px;
    margin-bottom: 63px;
}

.name-artetopia {
    color: $primaryColor;
    padding-inline: 10px;
}

.copyright-text {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.email-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.phone-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

@media (max-width: 991.98px) { 
    .useful-pages-section {
    display: none;
    }
}


@media (max-width: 992px) { 
    .more-info-text {
    font-size: 16px !important;
    }
}

@media (max-width: 992px) { 
    .contact-container-text {
    font-size: 10px !important;
    }
}
