.registrarse {
    background-color: white;
    color: #E91E63;
    width: 151px;
    height: 41px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin: 10px;
    border: 1px solid #E91E63;
}