@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  font-family: "Karla", sans-serif;
}

.heading_primary {
  color: #e91e63;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.bg_secondary {
  background-color: #2b2e4a;
}

.button-primary {
  background-color: #e91e63;
  color: #ffffff;
  border: 1px solid #e91e63;
  padding: 8px 10px;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

#call-to-action .max__width {
  max-width: 75%;
}

.input_primary {
  border: 1px solid #2b2e4a !important;
  max-width: 500px;
  border-radius: 30px !important;
}

.card_about {
  height: 30rem !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.card_text {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

.card_title {
  font-family: "Montserrat", sans-serif;
}

.card_artetopia1 {
  text-align: center;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(44, 47, 75) 55%, rgb(44, 47, 75) 82%, #2b2e4a 100%), url("/images/artetopia_1.png");
  background-size: cover;
}

.card_artetopia2 {
  text-align: center;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(44, 47, 75) 55%, rgb(44, 47, 75) 82%, #2b2e4a 100%), url("/images/artetopia_2.png");
  background-size: cover;
}

.card_artetopia3 {
  text-align: center;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(44, 47, 75) 55%, rgb(44, 47, 75) 82%, #2b2e4a 100%), url("/images/artetopia_3.png");
  background-size: cover;
} 
.tittle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #2b2e4a;
  margin-top: 30px;
  font-size: 40px;
}

.form_login {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.flex_login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_text_registrate {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

span {
  color: #E91E63;
  text-decoration: underline;
  transition: all 0.5s;
  cursor: pointer;
}

span:hover {
  color: #2b2e4a;
}

.submit_button {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #E91E63;
  color: white;
  border: none;
  width: 125px;
  height: 42px;
  border-radius: 4px;
}

.flex_submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_image {
  display: none;
}

@media only screen and (min-width: 744px) {
  .tittle {
    font-size: 60px;
  }
  .form_input {
    width: 393px;
  }
  .flex_submit_button {
    flex-direction: row;
    padding: 10px;
    align-items: baseline;
  }
  .submit_button {
    margin: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .form_input {
    width: 393px;
  }
  .flex_submit_button {
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .submit_button {
    margin: 20px;
  }
  .desktop_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px;
  }
  .login_image {
    margin: 20px;
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */