@import "../../styles/_variables.scss";

.progress-line {
    height: 2px !important;
    border-style: dotted none none none;
}

.user-icon {
    left: 0%;
    color: $primaryColor !important;
}

.store-icon {
    left: 17%;
    // color: $primaryColor !important;
}   

.photos-icon {
    left: 33%;
}  

.products-icon {
    left: 50%;
}  

.template-icon {
    left: 67%;
}

.aditional-info-icon {
    left: 83%;
}

.payments-icon {
    left: 100%;
}

.stepper-container {
    padding: 30px 10px; 
    background: #f9f9f9;
}

.stepper-size {
    max-width: 500px;  border-radius: 10px; background: #f5f5f5;
}

.stepper-font {
    font-size: 30px; color: #939393;
}